<div class="whitespace-medium"></div>

<!-- LOGO AND QUOTE -->
<div class="centered-container">
    <div class="logo-container">
        <img src="../../../../assets/LOGO.svg" alt="Logo">
        <div class="vertical-center">
            <h1>DateWatch</h1>
        </div>
    </div>

    <p class="quote">
        What's cooking - good looking?
    </p>
</div>

<div class="whitespace-large"></div>

<!-- CARDS -->
<div class="card-container">
    <mat-card matRipple routerLink="/login" class="mat-elevation-z10 vertical-container">
        <mat-card-title>Log in</mat-card-title>
        <mat-card-subtitle>I'm a dating veteran</mat-card-subtitle>
    </mat-card>

    <mat-card matRipple routerLink="/registration" class="mat-elevation-z10 vertical-container">
        <mat-card-title>Sign up</mat-card-title>
        <mat-card-subtitle>I'm new to this stuff</mat-card-subtitle>
    </mat-card>
</div>

<!-- ABOUT PAGE -->
<div class="absolute-bottom-container">
    <a routerLink="/about">about us</a>
</div>
