<!-- TITLE -->
<h1 mat-dialog-title>Are you sure you want to deactivate your account?</h1>
<!-- CONTENT -->

<div class="text-container">
  <ul>
    <li>You will be signed out</li>
    <li>It will not be possible to login again</li>
    <li>All your future events will be cancelled</li>
    <li>All previous events are still visible</li>
  </ul>
</div>


<!-- ACTIONS -->
<div mat-dialog-actions>
  <button mat-button (click)="setFalse()">No</button>
  <button mat-button (click)="setTrue()">Yes</button>
</div>
