// ====================== CENTERED CONTAINERS ======================
// centers and stacks content
.centered-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

// only stacks content, doesnt center
.vertical-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

// doesn't stack, centers vertically and horizontally
.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

// only takes up 95% of space so text stays readable
.text-container {
  margin: 0 auto;
  width: 90%;
}

// space between items - horizontally
.space-between {
  display: flex;
  justify-content: space-between;
}

// ====================== TEXT FIXED TO BOTTOM (ABSOLUTE) ======================
// sets absolute position to bottom of screen
.absolute-bottom-container {
  width: 100vw !important;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 2rem;
  
  // center
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

// ====================== MAT-DIVIDER ======================
.centered-mat-divider {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 2rem;
  margin-bottom: 2rem;

  mat-divider {
    width: 80%;
  }
}