<div class="centered-container">
  <h3>Statistics for "{{data.eventName}}"</h3>
  <div class="whitespace-small"></div>

  <p>Participants: {{data.participants}}</p>
  <div class="whitespace-tiny"></div>

  <p>Total matches: {{data.totalMatches}}</p>
  <p>Date-coverage: {{data.dateCoveragePercentage}}%</p>
  <p>Match-ratio: {{data.matchRatioPercentage}}%</p>

  <div class="whitespace-medium"></div>

  <div class="additional-info">
    <p>100% date-converge would mean that
      every single possible pair that could have
      possibly been made was made.
    </p>
    <p>
      100% match-ratio would mean that
      every single date was a match
    </p>
  </div>
</div>

