<app-simple-header [title]="'About Us'"></app-simple-header>

<div class="whitespace-small"></div>

<div class="text-container">
    <!-- THE CLIENT -->
    <h2>👩‍💼 The Client</h2>
    <p>
        This web application was given as an exercise in the
        <a class="animated-link"
            href="https://www.tiss.tuwien.ac.at/course/courseDetails.xhtml?courseNr=183241&semester=2021W&dswid=3880&dsrid=417"
            target="_blank">
            SEPM PR
        </a>
        course of WS 2021 at the technical university of Vienna, under the supervision of professor Barbara Schuhmacher and
        her assistant Michael Weinberger.

    </p>
    <div class="whitespace-small"></div>

    <!-- OUR TEAM -->
    <h2>👨‍💻 Our Team</h2>
    <div>
        <p>The development team consisted of 6 students:</p>
        <ul>
            <li>00271551 - Ruth Slavicky</li>
            <li>01525369 - Tobias de Vries</li>
            <li>01641210 - Dmytro Kondrashov</li>
            <li>11907096 - Patrick Trollmann</li>
            <li>11908080 - Richard Stöckl</li>
            <li>11912007 - Yahya Jabary</li>
        </ul>
    </div>

    <div class="whitespace-small"></div>
    <mat-divider></mat-divider>
    <div class="whitespace-medium"></div>

    <!-- TERMS AND CONDITIONS -->
    <h2> 📖 Terms and Conditions</h2>
    <div>
        <p>
            All your data will be treated as confidential and won't be accessible to any third parties unless
            sharing them is necessary to provide you with the core functionality that this application offers or
            improve your future experiences by providing anonymized meta-data to event organizers.
        </p>
        <p>
            This project is licenced under the Creative-Commons
            <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/" target="_blank">
                Attribution-NonCommercial-NoDerivs (CC BY-NC-ND)
            </a>.
        </p>
    </div>
</div>

<div class="whitespace-large"></div>